* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  color: #121212;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.logo img {
  user-select: none;
}
body {
  min-height: 100vh;
  background: radial-gradient(#4CCEB2, #2F8FD8);
  background-attachment: fixed;
}
form {
  display: flex;
  flex-direction: column;
  width: 425px;
  box-shadow: 5px 5px 20px 0px rgba(18, 18, 18, 0.25);
  padding: 45px;
  margin: 30px;
  border-radius: 10px;
  background: #fff;
}
form h4 {
  background: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #51dde6 93.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 15px;
  user-select: none;
}
form input {
  padding: 10px 15px;
  margin-bottom: 5px;
  font-size: 16px;
  border: 1px solid #dadada;
  border-radius: 3px;
}
form input:focus {
  border-color: #00B5EE;
}
button {
  background-image: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #51dde6 93.96%);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  margin: 15px;
  transition: all .3s ease;
  user-select: none;
}
button:hover {
  box-shadow: 5px 5px #02b5efb3;
  transform: translateY(-3px);
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
code {
  display: none;
  padding: 30px;
  margin: 30px;
  max-height: 300px;
  overflow: auto;
  background: #1212121c;
  border-radius: 10px;
  color: #fff;
  white-space: pre;
}
#copy {
  padding: 15px 25px;
  width: 170px;
  margin: 30px auto;
  display: none;
}
.slider {
  width: calc(100% - 30px);
  max-width: 1000px;
  margin: 30px auto;
  padding: 0 15px;
  box-sizing: border-box;
}
.slider img {
  width: auto;
  height: 100%;
  max-height: 200px;
  padding: 5px;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
}

.servers {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.servers .item {
  display: flex;
  text-align: center;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.servers .item span {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 0px 0px 4px #3193d5;
  display: block;
}
.servers .item a {
  color: #fff;
  padding: 1px 7px;
  margin-top: 15px;
  display: block;
  border-radius: 50px;
}
.servers .item a:hover {
  background: rgba(255, 255, 255, 0.342);
}
#copy {
  display: none;
}
.copy-wrapper {
  display: flex;
  justify-content: center;
}