.flex-container, .btn, .link, table td span[title], .additionally-list-toggle {
    display: none !important;
}
body {
    padding-bottom: 0;
}
.title i {
    color: #121212 !important;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background: none;
}
table.noborder td {
    box-shadow: inset 0 0 0px 5px #fff;
}
td {
    padding: 3px 5px;
}
.table-signatures table td[contenteditable],
.title [contenteditable],
.holder > p [contenteditable] {
    border-bottom: 0;
}
h1.title {
    margin-top: 0;
    border-color: #121212;
}
h2.title {
    margin-top: 10px;
}
.table-signatures span.signature {
    display: block !important;
}
.table-signatures table td {
    font-size: 15px;
}
.holder > p [contenteditable] {
    font-weight: normal;
}