.btn, .link, table td span[title], .warning-extensions, label {
    display: none !important;
}
body {
    padding-bottom: 0;
}
.title i {
    color: #121212 !important;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background: none;
}
table.noborder td {
    box-shadow: inset 0 0 0px 5px #fff;
}

* {
    cursor: none;
}