* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  color: #121212;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.logo img {
  user-select: none;
}
body {
  min-height: 100vh;
  background: radial-gradient(#4CCEB2, #2F8FD8);
  background-attachment: fixed;
}
a.item {
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px 0px rgba(18, 18, 18, 0.25);
  padding: 25px 35px;
  margin: 20px;
  border-radius: 10px;
  background: #fff;
  transition: all .3s ease;
}
a.item:hover {
  box-shadow: 0 0 10px 0px rgba(18, 18, 18, 0.25);
  transform: scale(.9);
}
a.item h4 {
  background: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #51dde6 93.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 21px;
  /* margin-bottom: 15px; */
  user-select: none;
}
a.item span {
  
}
button {
  background-image: linear-gradient(203.82deg, #6167F2 -6.85%, #00B5EE 40.01%, #51dde6 93.96%);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
  cursor: pointer;
  margin: 15px;
  transition: all .3s ease;
  user-select: none;
}
button:hover {
  box-shadow: 5px 5px #02b5efb3;
  transform: translateY(-3px);
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

main section.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  box-shadow: 0px 1px 3px 0px #49505754;
  background: #fff;
  margin: 15px;
  border-radius: 15px;
  transition: all 0.3s ease;
}
main section.card div a,
main section.card div span {
  margin: 0 5px;
  color: #495057;
  font-size: 20px;
  cursor: pointer;
}
main section.card div a:hover,
main section.card div span:hover {
  color: #4dabf7;
}
main section.card div.control a:nth-child(1):hover,
main section.card div.control a:nth-child(3):hover {
  color: #f74d4d;
}
main section.card div.control a:nth-child(2):hover {
  color: #38c527;
}
main section.card:hover {
  box-shadow: 0px 2px 3px 0px #49505754;
}
main section.card > p {
  width: 25%;
}
main section.card > p a {
  text-transform: uppercase;
  font-weight: 600;
  color: #495057;
}
main section.card > p a:hover {
  color: #4dabf7;
}
main section.card .control a {
  padding: 5px;
}
main section.card .control a:hover i {
  color: #4dabf7;
}
main section.card > span {
  margin: 0 5px;
  min-width: 56px;
  text-align: center;
}
main section.card > span.date {
  min-width: 99px;
}
.red {
  color: #f74d4d;
}
.yellow {
  color: #f7bb4d;
}
.green {
  color: #38c527;
}
.blue {
  color: #4dabf7;
}
main {
  max-width: 1000px;
  margin: 50px auto;
  margin-top: 75px;
}
main .control {
  display: flex;
}
main .control > div {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#tooltip {
  background: #4950579e;
  padding: 5px;
  color: #fff;
  position: fixed;
  border-radius: 5px;
  display: none;
}

.dropdown {
  position: absolute;
  width: 240px;
  left: -101px;
  top: 35px;
  background: #fff;
  box-shadow: 0px 1px 5px 0px #49505754;
  display: none;
}
.dropdown .item {
  padding: 10px;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.dropdown .item:hover {
  color: #2F8FD8;
}
.dropdown:after {
  position: absolute;
  content: '';
  left: calc(50% - 15px / 2);
  top: -8px;
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  background: #fff;
  box-shadow: 0px 1px 5px 0px #49505754;
  z-index: 1;
}

main .control > div:nth-child(1),
main .control > div:nth-child(2),
main .control > div:nth-child(3),
main .control > div:nth-child(5) {
  opacity: 0;
  transition: .1s ease-in;
}
main .control > div:nth-child(5) i {
  width: 20px;
  text-align: center;
}
main section.card:hover .control > div {
  opacity: 1 !important;
}

main section.card.status-visibility {
  background: #ffffff85;
}
main section.card.status-visibility > p,
main section.card.status-visibility > span.date {
  opacity: .9;
}
main section.card.status-visibility > .control > div:nth-child(2) i,
main section.card.status-visibility > .control > div:nth-child(4) i {
  color: #3a4a49c4;
}
.hidden,
main section.card.status-visibility .control > div:nth-child(1),
main section.card.status-visibility .control > div:nth-child(3) {
  opacity: 0 !important;
  visibility: hidden !important;
}
.fa-spinner {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body.dark {
  background: #121212;
}
body.dark main section.card.status-visibility {
  background: #ffffff54;
}
body.dark main section.card.status-visibility > p,
body.dark main section.card.status-visibility > span.date,
body.dark main section.card.status-visibility > .control > div:nth-child(2) i,
body.dark main section.card.status-visibility > .control > div:nth-child(4) i,
body.dark main section.card > p a {
  color: #77818b;
}

.theme-changer {
  position: fixed;
  right: 60px;
  top: 60px;
  cursor: pointer;
}
.theme-changer i {
  font-size: 30px;
}
.theme-changer .fa-moon {
  color: #121212;
}
.theme-changer .fa-sun {
  color: #ffc107;
  display: none;
}
body.dark .theme-changer .fa-moon {
  display: none;
}
body.dark .theme-changer .fa-sun {
  display: block;
}